<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Salon de Belleza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        

        .container {
            padding: 10px;
            background: #7F7FD5;
            background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
            background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        }

        footer {
            font-family: 'Gothic';
            color: black;
            padding: 30px;
            text-align: center;
            width: 100%;
            height: 40px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        Cfooter {
            color: #000000;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
        }

        .Cfooter {
            color: #000000;
        }

        .navbar-brand {
            color: azure;
        }

        .nav-link {
            color: azure;
        }

        a {
            color: azure;
            font-family: arial;
            text-decoration: none;
        }

            a:hover {
                color: azure;
                font-family: arial;
                text-decoration: none;
            }

        .nav-link {
            color: azure;
            font-family: arial;
            text-decoration: none;
        }

            .nav-link:hover {
                color: azure;
                font-family: arial;
                text-decoration: none;
            }

         body {
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }
    </style>
</head>
        <body >
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">

                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><big>Libreria</big></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Libros" asp-action="Index">                                       
                                            Libros
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">                                          
                                        Clientes
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Libros" asp-action="Index">                                             
                                                Vendidos y Alquilados
                                            </a>
                                        </li>
                                    
                                   
                        


                    </div>
                </nav>
            </header>
            <br>
            <div class="container" style="background-color: #000000; border: 1px ridge #000000; border-radius: 15px 15px 15px 15px ">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <br />

            <footer class="footer text-muted">

            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
