@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <center><h5 class="card-title">Libros</h5></center>
                <p class="card-text">Para observar los registros de libros ademas de agregar nuevos registros, modificarlos y eliminarlos.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Libros" asp-action="Index">Ir a la pantalla</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <center><h5 class="card-title">Cliente</h5></center>
                <p class="card-text">Para observar los registros de Clientes ademas de agregar nuevos registros, modificarlos y eliminarlos.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Clientes" asp-action="Index">Ir a la pantalla</a>
            </div>
        </div>
    </div>
</div>
